[submodule "sinter"]
	path = main/lib/sinter
	url = https://github.com/XavierChB/sinter.git
	branch = master
[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/espressif/esp-mqtt.git
